<!-- TODO: make the footer a 3 column responsive layout -->
<footer class="d-flex justify-content-around flex-wrap bg-light pt-3
border-top">
    <div class="pl-2 content mb-3" >
        <h2 class="font-weight-bold text-muted">About</h2>
        <ul class="nav flex-column">
            <li class="nav-item ">
              <a class="nav-link text-secondary " href="#">Learn More</a></li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">People</a></li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Careers</a></li>
        </ul>
    </div>
    <div class="pl-2 content mb-3">
        <h2 class="font-weight-bold text-muted">Resources</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Docs</a></li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Blog</a></li>
        </ul>
    </div>
    <div class="pl-2 content mb-3">
        <h2 class="font-weight-bold text-muted">Contact</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Help</a></li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Sales</a></li>
        </ul>
    </div>
</footer>
