section{
    background-image: url("/assets/images/hero-bg.jpg");
    width:auto;
    height: 300px;

    div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: white;
      }

    }
}
