
<div class="container mt-3 mb-3">
  <p>People Component</p>
  <div *ngFor="let item of people$; index as i">
    <a class="list-group-item list-group-item-action" (click)="switchPerson(i)">
      {{item.firstName}} {{item.lastName}}</a>
    <div *ngIf="i == currentPerson">
      <app-person [person]="item" (finished)="finshedEditing($event, i)"></app-person>
    </div>
  </div>
</div>
