<form [formGroup]="userDetails" name="form" (ngSubmit)="onSubmit()" class="p-3 bg-light">

  <div class="form-group">
    <label for="firstName" class="pl-2">First Name</label>
    <input type="text" class="form-control" formControlName="firstName">
  </div>
  <div class="form-group">
    <label for="lastName" class="pl-2">Last Name</label>
    <input type="text" class="form-control" formControlName="lastName">
  </div>
  <div class="form-group">
    <label for="age" class="pl-2">Age</label>
    <input type="number" class="form-control" formControlName="age">
  </div>
  <div class="form-group">
    <label for="Job Title" class="pl-2">Job Title</label>
    <input type="text" class="form-control"  formControlName="jobTitle">
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary mb-2">Save</button>
    <button type="button" class="btn btn-secondary mb-2" (click)="done()">Cancel</button>
  </div>


</form>
