.mainContainer {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  height: 100vh;

  div {
    display: block;
    height: auto;
    margin: 0;
  }

  app-footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }

}
