/* You can add global styles to this file, and also import other style files */



body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 18px;
}
